.name-card-top {
    margin-top: 30px;
    text-align: center;
}

.name-card-bottom ul {
    display: inline-block;
    text-align: left;
}

.name-card-bottom {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

img.qrcode {
    display: inline-block;
    width: 150px;
}
