.name-card-container {
    margin-top: 30px;
}

.name-card-left, .name-card-right {
    display: inline-block;
    vertical-align: top;
}

img.qrcode {
    width: 75px;
    margin-left: 0px;
    margin-right: 20px;
}
